<div class="navbar">
  <div class="logo">
    <h1>ShopEase</h1>
  </div>
  <div class="nav-links">
    <ul>
      <!--<li><a routerLink="/">Home</a></li>-->
      <li><a routerLink="/categories">Categories</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/cart-items">Cart</a></li>
      <!--<li><a routerLink="/orders">Orders</a></li>-->
      <!--<li><a routerLink="/whishlist">Whishlist</a></li>-->
    </ul>
  </div>
  
  <div class="user-avatar">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>{{ currentUser.username }}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>arrow_right_alt</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <img [src]="emptyAvatarPic" alt="User Avatar">
  </div>
</div>
