<!-- product-edit-dialog.component.html -->
<h1 mat-dialog-title>Edit Product</h1>

<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" formControlName="name">
        <mat-error *ngIf="formInstance.controls['name'].hasError('required')">Field required</mat-error>
      </mat-form-field>
    </div>
 
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Specifications</mat-label>
        <textarea matInput name="specifications" formControlName="specifications"></textarea>
        <mat-error *ngIf="formInstance.controls['specifications'].hasError('required')">Field required</mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Stock</mat-label>
        <input matInput type="number" name="stock" formControlName="stock">
        <mat-error *ngIf="formInstance.controls['stock'].hasError('required')">Field required</mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Provider</mat-label>
        <input matInput type="text" name="provider" formControlName="provider">
        <mat-error *ngIf="formInstance.controls['provider'].hasError('required')">Field required</mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" formControlName="description"></textarea>
        <mat-error *ngIf="formInstance.controls['description'].hasError('required')">Field required</mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formInstance.controls['categoryId'].hasError('required')">Field required</mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Cost</mat-label>
        <input matInput type="number" name="cost" formControlName="cost">
        <mat-error *ngIf="formInstance.controls['cost'].hasError('required')">Field required</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="formInstance.invalid" (click)="save()">Save</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>
